/*BEGIN CREAR TABLA [MEDICOS_FICHEROS]*/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEDICOS_FICHEROS](
	[ID_Fichero] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Medico] [int] NOT NULL,
	[NombreFichero] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[FechaSubido] [datetime] NULL,
	[FechaModificado] [datetime] NULL,
	[Fichero] [varbinary](max) NULL,
	[ID_Usuario] [int] NULL,
 CONSTRAINT [PK_MEDICOS_FICHEROS_1] PRIMARY KEY CLUSTERED 
(
	[ID_Fichero] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_MEDICOS_FICHEROS_FechaSubido]    Script Date: 05/16/2013 17:10:14 ******/
ALTER TABLE [dbo].[MEDICOS_FICHEROS] ADD  CONSTRAINT [DF_MEDICOS_FICHEROS_FechaSubido]  DEFAULT (getdate()) FOR [FechaSubido]
GO
/****** Object:  ForeignKey [FK_MEDICOS_FICHEROS_MEDICOS]    Script Date: 05/16/2013 17:10:14 ******/
ALTER TABLE [dbo].[MEDICOS_FICHEROS]  WITH CHECK ADD  CONSTRAINT [FK_MEDICOS_FICHEROS_MEDICOS] FOREIGN KEY([ID_Medico])
REFERENCES [dbo].[MEDICOS] ([CMEDICO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MEDICOS_FICHEROS] CHECK CONSTRAINT [FK_MEDICOS_FICHEROS_MEDICOS]
GO

/*END CREAR TABLA [MEDICOS_FICHEROS]*/

Update VariablesGlobales Set Valor = '1.0.2.5' where Clave = 'DB_Version';