/*
   miércoles, 27 de julio de 201121:31:17
   User: 
   Server: (local)
   Database: CM_SIESTA
   Application: 

   ARREGLO DE NOMBRES Y APELLIDOS DE PACIENTES
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PACIENTES
	DROP CONSTRAINT DF__PACIENTES__PAGOB__4E88ABD4
GO
ALTER TABLE dbo.PACIENTES
	DROP CONSTRAINT DF__PACIENTES__DEFUN__4F7CD00D
GO
ALTER TABLE dbo.PACIENTES
	DROP CONSTRAINT DF__PACIENTES__SOCIO__5165187F
GO
ALTER TABLE dbo.PACIENTES
	DROP CONSTRAINT DF__PACIENTES__ACTIV__52593CB8
GO
ALTER TABLE dbo.PACIENTES
	DROP CONSTRAINT DF_PACIENTES_WEB
GO
ALTER TABLE dbo.PACIENTES
	DROP CONSTRAINT DF_PACIENTES_EMAIL
GO
ALTER TABLE dbo.PACIENTES
	DROP CONSTRAINT DF_PACIENTES_CODIGOPROPIO
GO
ALTER TABLE dbo.PACIENTES
	DROP CONSTRAINT DF_PACIENTES_BENEFICIARIOCODIGOSOCIO
GO
ALTER TABLE dbo.PACIENTES
	DROP CONSTRAINT DF_PACIENTES_BENEFICIARIOPARENTESCO
GO
CREATE TABLE dbo.Tmp_PACIENTES
	(
	NOMBRE varchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	APELLIDO1 varchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	APELLIDO2 varchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	DOMICILIO varchar(150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	TLFNO nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	MOVIL nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	PROFESION varchar(30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	LOCALIDAD varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CP varchar(5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	REFEMPRESA int NULL,
	DNI varchar(8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	FECHAN datetime NULL,
	OBSERVACIONES varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	PROVINCIA varchar(30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	NSS varchar(12) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	PUESTO varchar(30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	REGIMEN varchar(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	TARJETASANITARIA varchar(12) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	REFMUTUA int NULL,
	CPACIENTE int NOT NULL,
	SEXO varchar(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	FECHAALTA datetime NULL,
	TUTOR varchar(90) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	PAGOBANCO varchar(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	ENTIDAD varchar(4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	OFICINA varchar(4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	DC varchar(2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	TITULAR varchar(90) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CUENTA varchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	DEFUNCION varchar(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	NIE varchar(15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	PASAPORTE varchar(25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	REFPAIS int NOT NULL,
	FOTO image NULL,
	FOTOGRAFIA varchar(150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	SOCIO varchar(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	ACTIVO varchar(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	REFFORMAPAGO varchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	FECHABAJA datetime NULL,
	CONOCIO varchar(250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	WEB varchar(250) NOT NULL,
	EMAIL varchar(250) NOT NULL,
	CODIGOPROPIO varchar(50) NOT NULL,
	BENEFICIARIOCODIGOSOCIO int NOT NULL,
	BENEFICIARIOPARENTESCO varchar(150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
/*ALTER TABLE dbo.Tmp_PACIENTES SET (LOCK_ESCALATION = TABLE)
GO*/
ALTER TABLE dbo.Tmp_PACIENTES ADD CONSTRAINT
	DF__PACIENTES__PAGOBANCO DEFAULT ('N') FOR PAGOBANCO
GO
ALTER TABLE dbo.Tmp_PACIENTES ADD CONSTRAINT
	DF__PACIENTES__DEFUN DEFAULT ('N') FOR DEFUNCION
GO
ALTER TABLE dbo.Tmp_PACIENTES ADD CONSTRAINT
	DF__PACIENTES__SOCIO DEFAULT ('N') FOR SOCIO
GO
ALTER TABLE dbo.Tmp_PACIENTES ADD CONSTRAINT
	DF__PACIENTES__ACTIV DEFAULT ('S') FOR ACTIVO
GO
ALTER TABLE dbo.Tmp_PACIENTES ADD CONSTRAINT
	DF_PACIENTES_WEB DEFAULT ('') FOR WEB
GO
ALTER TABLE dbo.Tmp_PACIENTES ADD CONSTRAINT
	DF_PACIENTES_EMAIL DEFAULT ('') FOR EMAIL
GO
ALTER TABLE dbo.Tmp_PACIENTES ADD CONSTRAINT
	DF_PACIENTES_CODIGOPROPIO DEFAULT ('') FOR CODIGOPROPIO
GO
ALTER TABLE dbo.Tmp_PACIENTES ADD CONSTRAINT
	DF_PACIENTES_BENEFICIARIOCODIGOSOCIO DEFAULT ('') FOR BENEFICIARIOCODIGOSOCIO
GO
ALTER TABLE dbo.Tmp_PACIENTES ADD CONSTRAINT
	DF_PACIENTES_BENEFICIARIOPARENTESCO DEFAULT ('') FOR BENEFICIARIOPARENTESCO
GO
IF EXISTS(SELECT * FROM dbo.PACIENTES)
	 EXEC('INSERT INTO dbo.Tmp_PACIENTES (NOMBRE, APELLIDO1, APELLIDO2, DOMICILIO, TLFNO, MOVIL, PROFESION, LOCALIDAD, CP, REFEMPRESA, DNI, FECHAN, OBSERVACIONES, PROVINCIA, NSS, PUESTO, REGIMEN, TARJETASANITARIA, REFMUTUA, CPACIENTE, SEXO, FECHAALTA, TUTOR, PAGOBANCO, ENTIDAD, OFICINA, DC, TITULAR, CUENTA, DEFUNCION, NIE, PASAPORTE, REFPAIS, FOTO, FOTOGRAFIA, SOCIO, ACTIVO, REFFORMAPAGO, FECHABAJA, CONOCIO, WEB, EMAIL, CODIGOPROPIO, BENEFICIARIOCODIGOSOCIO, BENEFICIARIOPARENTESCO)
		SELECT NOMBRE, APELLIDO1, APELLIDO2, DOMICILIO, TLFNO, MOVIL, PROFESION, LOCALIDAD, CP, REFEMPRESA, DNI, FECHAN, OBSERVACIONES, PROVINCIA, NSS, PUESTO, REGIMEN, TARJETASANITARIA, REFMUTUA, CPACIENTE, SEXO, FECHAALTA, TUTOR, PAGOBANCO, ENTIDAD, OFICINA, DC, TITULAR, CUENTA, DEFUNCION, NIE, PASAPORTE, REFPAIS, FOTO, FOTOGRAFIA, SOCIO, ACTIVO, REFFORMAPAGO, FECHABAJA, CONOCIO, WEB, EMAIL, CODIGOPROPIO, BENEFICIARIOCODIGOSOCIO, BENEFICIARIOPARENTESCO FROM dbo.PACIENTES WITH (HOLDLOCK TABLOCKX)')
GO
ALTER TABLE dbo.Comunicaciones
	DROP CONSTRAINT FK_Comunicaciones_PACIENTES
GO
ALTER TABLE dbo.N_Ticket
	DROP CONSTRAINT FK_N_Ticket_N_Pacientes
GO
ALTER TABLE dbo.Asociados
	DROP CONSTRAINT FK_Asociados_PACIENTES
GO
ALTER TABLE dbo.Asociados
	DROP CONSTRAINT FK_Asociados_PACIENTES1
GO
ALTER TABLE dbo.ANALITICAS
	DROP CONSTRAINT fk_analiticapaciente
GO
ALTER TABLE dbo.AUDIOMETRIAS
	DROP CONSTRAINT fk_audiometrias
GO
ALTER TABLE dbo.COMPARATIVAS
	DROP CONSTRAINT fk_comparativaspaciente
GO
ALTER TABLE dbo.DERIVACIONES
	DROP CONSTRAINT fk_derivacionespaciente
GO
ALTER TABLE dbo.FACTURAS
	DROP CONSTRAINT fkfacturaspaciente
GO
ALTER TABLE dbo.FICHEROS
	DROP CONSTRAINT fk_ficheros
GO
ALTER TABLE dbo.HISTORIALES
	DROP CONSTRAINT fkhistorialespaciente
GO
ALTER TABLE dbo.IMAGENES
	DROP CONSTRAINT fkimagenespaciente
GO
ALTER TABLE dbo.INFORMACIONPRIMARIA
	DROP CONSTRAINT fk_informacionprimariapaciente
GO
ALTER TABLE dbo.LEMPRESAS
	DROP CONSTRAINT fk_lempresaspacientes
GO
ALTER TABLE dbo.LINEASALARMA
	DROP CONSTRAINT fklineasalarmapaciente
GO
ALTER TABLE dbo.N_Factura
	DROP CONSTRAINT FK_N_Factura_N_Pacientes
GO
ALTER TABLE dbo.LMUTUAS
	DROP CONSTRAINT fk_lmutuas_pacientes
GO
ALTER TABLE dbo.PRESUPUESTOS
	DROP CONSTRAINT fkpresupuestopaciente
GO
ALTER TABLE dbo.RECETAS
	DROP CONSTRAINT fkrecetaspaciente
GO
ALTER TABLE dbo.EntregasCuenta
	DROP CONSTRAINT FK_EntregasCuenta_PACIENTES
GO
ALTER TABLE dbo.RECIBOS
	DROP CONSTRAINT FK_RECIBOS_PACIENTES
GO
ALTER TABLE dbo.N_Procesos
	DROP CONSTRAINT FK_N_Procesos_PACIENTES
GO
ALTER TABLE dbo.N_Partes_Asistencia
	DROP CONSTRAINT FK_N_Partes_Asistencia_PACIENTES
GO
ALTER TABLE dbo.AntecedentesDiagnosticos
	DROP CONSTRAINT FK_AntecedentesDiagnosticos_PACIENTES
GO
ALTER TABLE dbo.PagosPaciente
	DROP CONSTRAINT FK_PagosCliente_PACIENTES
GO
ALTER TABLE dbo.d_Odontogramas
	DROP CONSTRAINT FK_d_Odontogramas_PACIENTES
GO
DROP TABLE dbo.PACIENTES
GO
EXECUTE sp_rename N'dbo.Tmp_PACIENTES', N'PACIENTES', 'OBJECT' 
GO
ALTER TABLE dbo.PACIENTES ADD CONSTRAINT
	PK_PACIENTES PRIMARY KEY CLUSTERED 
	(
	CPACIENTE
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.d_Odontogramas ADD CONSTRAINT
	FK_d_Odontogramas_PACIENTES FOREIGN KEY
	(
	IDPaciente
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
/*ALTER TABLE dbo.d_Odontogramas SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PagosPaciente ADD CONSTRAINT
	FK_PagosCliente_PACIENTES FOREIGN KEY
	(
	IDPaciente
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
/*ALTER TABLE dbo.PagosPaciente SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.AntecedentesDiagnosticos ADD CONSTRAINT
	FK_AntecedentesDiagnosticos_PACIENTES FOREIGN KEY
	(
	CPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
/*ALTER TABLE dbo.AntecedentesDiagnosticos SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.N_Partes_Asistencia ADD CONSTRAINT
	FK_N_Partes_Asistencia_PACIENTES FOREIGN KEY
	(
	ID_Paciente
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
/*ALTER TABLE dbo.N_Partes_Asistencia SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.N_Procesos ADD CONSTRAINT
	FK_N_Procesos_PACIENTES FOREIGN KEY
	(
	ID_Paciente
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.N_Procesos SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.RECIBOS ADD CONSTRAINT
	FK_RECIBOS_PACIENTES FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.RECIBOS SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.EntregasCuenta ADD CONSTRAINT
	FK_EntregasCuenta_PACIENTES FOREIGN KEY
	(
	IDPaciente
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
/*ALTER TABLE dbo.EntregasCuenta SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.RECETAS ADD CONSTRAINT
	fkrecetaspaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.RECETAS SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESUPUESTOS ADD CONSTRAINT
	fkpresupuestopaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.PRESUPUESTOS SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LMUTUAS ADD CONSTRAINT
	fk_lmutuas_pacientes FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.LMUTUAS SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.N_Factura ADD CONSTRAINT
	FK_N_Factura_N_Pacientes FOREIGN KEY
	(
	ID_Cliente
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.N_Factura SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LINEASALARMA ADD CONSTRAINT
	fklineasalarmapaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.LINEASALARMA SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LEMPRESAS ADD CONSTRAINT
	fk_lempresaspacientes FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.LEMPRESAS SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.INFORMACIONPRIMARIA ADD CONSTRAINT
	fk_informacionprimariapaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.INFORMACIONPRIMARIA SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.IMAGENES ADD CONSTRAINT
	fkimagenespaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.IMAGENES SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.HISTORIALES ADD CONSTRAINT
	fkhistorialespaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.HISTORIALES SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.FICHEROS ADD CONSTRAINT
	fk_ficheros FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.FICHEROS SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.FACTURAS ADD CONSTRAINT
	fkfacturaspaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.FACTURAS SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.DERIVACIONES ADD CONSTRAINT
	fk_derivacionespaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.DERIVACIONES SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.COMPARATIVAS ADD CONSTRAINT
	fk_comparativaspaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.COMPARATIVAS SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.AUDIOMETRIAS ADD CONSTRAINT
	fk_audiometrias FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.AUDIOMETRIAS SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ANALITICAS ADD CONSTRAINT
	fk_analiticapaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.ANALITICAS SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Asociados ADD CONSTRAINT
	FK_Asociados_PACIENTES FOREIGN KEY
	(
	IDPacienteBeneficiario
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.Asociados ADD CONSTRAINT
	FK_Asociados_PACIENTES1 FOREIGN KEY
	(
	IDPacienteOrigen
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
/*ALTER TABLE dbo.Asociados SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.N_Ticket ADD CONSTRAINT
	FK_N_Ticket_N_Pacientes FOREIGN KEY
	(
	ID_Cliente
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
/*ALTER TABLE dbo.N_Ticket SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Comunicaciones ADD CONSTRAINT
	FK_Comunicaciones_PACIENTES FOREIGN KEY
	(
	ID_PacienteDestino
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
/*ALTER TABLE dbo.Comunicaciones SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT
GO
BEGIN TRANSACTION
GO
ALTER TABLE dbo.MUTUAS ADD
	Logo image NULL
GO
/*ALTER TABLE dbo.MUTUAS SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT

BEGIN TRANSACTION
GO
ALTER TABLE dbo.MEDICOS ADD
	FIRMA image NULL
GO
/*ALTER TABLE dbo.MEDICOS SET (LOCK_ESCALATION = TABLE)
GO*/
COMMIT

Update VariablesGlobales Set Valor = '1.0.1.4' where Clave = 'DB_Version';