
/*BEGIN Borrar Eliminacion en cascada en Paciente -> Factura*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.FACTURAS
	DROP CONSTRAINT fkfacturaspaciente
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.FACTURAS ADD CONSTRAINT
	fkfacturaspaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 

GO
COMMIT

/*END  Eliminar Eliminacion en cascada en Paciente -> Factura*/


/* BEGIN Borrar Eliminacion en cascada en Factura -> LineasFactura */
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LINEASFACTURAS
	DROP CONSTRAINT fklineasfacturas
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LINEASFACTURAS ADD CONSTRAINT
	fklineasfacturas FOREIGN KEY
	(
	REFFACTURA
	) REFERENCES dbo.FACTURAS
	(
	IDFACTURA
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
/*END Borrar Eliminacion en cascada en Factura -> LineasFactura*/


/*BEGIN Eliminacion en cascada en Citas -> LineasCita*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LineasCitas
	DROP CONSTRAINT FK_LineasCitas_Citas
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LineasCitas ADD CONSTRAINT
	FK_LineasCitas_Citas FOREIGN KEY
	(
	IdCita
	) REFERENCES dbo.CITAS
	(
	IDCITA
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
COMMIT
/*END Eliminacion en cascada en Citas -> LineasCita*/



/* BEGIN Quitar las sgtes eliminaciones en Cascada

Paciente -> Facturas
Paciente -> Analiticas
Paciente -> Asociados
Paciente -> Audiometrias
Paciente -> Comparativas
Paciente -> Derivaciones
Paciente -> Ficheros
Paciente -> Informacion Primaria Paciente
Paciente -> Lineas Empresas 
Paciente -> Lineas Mutua
Paciente -> N_Factura
Paciente -> N_Procesos
Paciente -> N-Tickets
Paciente -> Recibos
Paciente -> Historial
Paciente -> Imagenes
Paciente -> Lineas de Alarma
Paciente -> Presupuesto
Paciente -> Recetas
*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.HISTORIALES
	DROP CONSTRAINT fkhistorialespaciente
GO
ALTER TABLE dbo.IMAGENES
	DROP CONSTRAINT fkimagenespaciente
GO
ALTER TABLE dbo.INFORMACIONPRIMARIA
	DROP CONSTRAINT fk_informacionprimariapaciente
GO
ALTER TABLE dbo.LEMPRESAS
	DROP CONSTRAINT fk_lempresaspacientes
GO
ALTER TABLE dbo.LINEASALARMA
	DROP CONSTRAINT fklineasalarmapaciente
GO
ALTER TABLE dbo.N_Factura
	DROP CONSTRAINT FK_N_Factura_N_Pacientes
GO
ALTER TABLE dbo.LMUTUAS
	DROP CONSTRAINT fk_lmutuas_pacientes
GO
ALTER TABLE dbo.PRESUPUESTOS
	DROP CONSTRAINT fkpresupuestopaciente
GO
ALTER TABLE dbo.RECETAS
	DROP CONSTRAINT fkrecetaspaciente
GO
ALTER TABLE dbo.RECIBOS
	DROP CONSTRAINT FK_RECIBOS_PACIENTES
GO
ALTER TABLE dbo.N_Procesos
	DROP CONSTRAINT FK_N_Procesos_PACIENTES
GO
ALTER TABLE dbo.N_Ticket
	DROP CONSTRAINT FK_N_Ticket_N_Pacientes
GO
ALTER TABLE dbo.Asociados
	DROP CONSTRAINT FK_Asociados_PACIENTES
GO
ALTER TABLE dbo.ANALITICAS
	DROP CONSTRAINT fk_analiticapaciente
GO
ALTER TABLE dbo.AUDIOMETRIAS
	DROP CONSTRAINT fk_audiometrias
GO
ALTER TABLE dbo.COMPARATIVAS
	DROP CONSTRAINT fk_comparativaspaciente
GO
ALTER TABLE dbo.DERIVACIONES
	DROP CONSTRAINT fk_derivacionespaciente
GO
ALTER TABLE dbo.FICHEROS
	DROP CONSTRAINT fk_ficheros
GO

COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.FICHEROS ADD CONSTRAINT
	fk_ficheros FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.DERIVACIONES ADD CONSTRAINT
	fk_derivacionespaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO

COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.COMPARATIVAS ADD CONSTRAINT
	fk_comparativaspaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO

COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.AUDIOMETRIAS ADD CONSTRAINT
	fk_audiometrias FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO

COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ANALITICAS ADD CONSTRAINT
	fk_analiticapaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Asociados ADD CONSTRAINT
	FK_Asociados_PACIENTES FOREIGN KEY
	(
	IDPacienteBeneficiario
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO

COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.N_Ticket ADD CONSTRAINT
	FK_N_Ticket_N_Pacientes FOREIGN KEY
	(
	ID_Cliente
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO

COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.N_Procesos ADD CONSTRAINT
	FK_N_Procesos_PACIENTES FOREIGN KEY
	(
	ID_Paciente
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.RECIBOS ADD CONSTRAINT
	FK_RECIBOS_PACIENTES FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.RECETAS ADD CONSTRAINT
	fkrecetaspaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESUPUESTOS ADD CONSTRAINT
	fkpresupuestopaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LMUTUAS ADD CONSTRAINT
	fk_lmutuas_pacientes FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.N_Factura ADD CONSTRAINT
	FK_N_Factura_N_Pacientes FOREIGN KEY
	(
	ID_Cliente
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LINEASALARMA ADD CONSTRAINT
	fklineasalarmapaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LEMPRESAS ADD CONSTRAINT
	fk_lempresaspacientes FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.INFORMACIONPRIMARIA ADD CONSTRAINT
	fk_informacionprimariapaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.IMAGENES ADD CONSTRAINT
	fkimagenespaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 

GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.HISTORIALES ADD CONSTRAINT
	fkhistorialespaciente FOREIGN KEY
	(
	REFPACIENTE
	) REFERENCES dbo.PACIENTES
	(
	CPACIENTE
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
/* END Quitar las sgtes eliminaciones en Cascada*/



Update VariablesGlobales Set Valor = '1.0.2.4' where Clave = 'DB_Version';