/*BEGIN Creacion de la tabla [INFORME_MEDICO]  */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFORME_MEDICO](
	[IdInforme] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [text] NULL,
	[Fecha] [datetime] NULL,
	[RefMedico] [int] NULL,
	[RefPaciente] [int] NULL,
 CONSTRAINT [PK_INFORME_MEDICO] PRIMARY KEY CLUSTERED 
(
	[IdInforme] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_INFORME_MEDICO_MEDICOS]    Script Date: 09/19/2012 17:19:34 ******/
ALTER TABLE [dbo].[INFORME_MEDICO]  WITH CHECK ADD  CONSTRAINT [FK_INFORME_MEDICO_MEDICOS] FOREIGN KEY([RefMedico])
REFERENCES [dbo].[MEDICOS] ([CMEDICO])
GO
ALTER TABLE [dbo].[INFORME_MEDICO] CHECK CONSTRAINT [FK_INFORME_MEDICO_MEDICOS]
GO
/****** Object:  ForeignKey [FK_INFORME_MEDICO_PACIENTES]    Script Date: 09/19/2012 17:19:34 ******/
ALTER TABLE [dbo].[INFORME_MEDICO]  WITH CHECK ADD  CONSTRAINT [FK_INFORME_MEDICO_PACIENTES] FOREIGN KEY([RefPaciente])
REFERENCES [dbo].[PACIENTES] ([CPACIENTE])
GO
ALTER TABLE [dbo].[INFORME_MEDICO] CHECK CONSTRAINT [FK_INFORME_MEDICO_PACIENTES]
GO
/*END Creacion de la tabla [INFORME_MEDICO]  */


/* BEGIN CAMBIAR la tabla VARIABLES GLOBALES para que soporte mas de 500 caracteres */

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.VariablesGlobales
	DROP CONSTRAINT DF_VariablesGlobales_Clave
GO
ALTER TABLE dbo.VariablesGlobales
	DROP CONSTRAINT DF_VariablesGlobales_Valor
GO
CREATE TABLE dbo.Tmp_VariablesGlobales
	(
	Clave varchar(500) NOT NULL,
	Valor varchar(MAX) NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE dbo.Tmp_VariablesGlobales ADD CONSTRAINT
	DF_VariablesGlobales_Clave DEFAULT ('') FOR Clave
GO
ALTER TABLE dbo.Tmp_VariablesGlobales ADD CONSTRAINT
	DF_VariablesGlobales_Valor DEFAULT ('') FOR Valor
GO
IF EXISTS(SELECT * FROM dbo.VariablesGlobales)
	 EXEC('INSERT INTO dbo.Tmp_VariablesGlobales (Clave, Valor)
		SELECT Clave, CONVERT(varchar(MAX), Valor) FROM dbo.VariablesGlobales WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.VariablesGlobales
GO
EXECUTE sp_rename N'dbo.Tmp_VariablesGlobales', N'VariablesGlobales', 'OBJECT' 
GO
ALTER TABLE dbo.VariablesGlobales ADD CONSTRAINT
	PK_VariablesGlobales PRIMARY KEY CLUSTERED 
	(
	Clave
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT

/* END CAMBIAR la tabla VARIABLES GLOBALES para que soporte mas de 500 caracteres */


/* BEGIN Poner el update en cascada de distintas tablas hacia CONCEPTOFRA */
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.d_PresupuestoLineas
	DROP CONSTRAINT FK_d_PresupuestoLineas_CONCEPTOSFRA
GO
ALTER TABLE dbo.LINEASFACTURAS
	DROP CONSTRAINT fk_lineasfacturas
GO
ALTER TABLE dbo.LPRESUPUESTOS
	DROP CONSTRAINT fklpresupuestoconcepto
GO
ALTER TABLE dbo.ANALITICAS
	DROP CONSTRAINT FK_ANALITICAS_CONCEPTOSFRA
GO
ALTER TABLE dbo.PLANTILLAANALITICAS
	DROP CONSTRAINT FK_PLANTILLAANALITICAS_CONCEPTOSFRA
GO
ALTER TABLE dbo.d_Acciones
	DROP CONSTRAINT FK_d_Acciones_CONCEPTOSFRA
GO

COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.d_Acciones ADD CONSTRAINT
	FK_d_Acciones_CONCEPTOSFRA FOREIGN KEY
	(
	IDTratamiento
	) REFERENCES dbo.CONCEPTOSFRA
	(
	CODIGO
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PLANTILLAANALITICAS ADD CONSTRAINT
	FK_PLANTILLAANALITICAS_CONCEPTOSFRA FOREIGN KEY
	(
	REFCONCEPTO
	) REFERENCES dbo.CONCEPTOSFRA
	(
	CODIGO
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ANALITICAS ADD CONSTRAINT
	FK_ANALITICAS_CONCEPTOSFRA FOREIGN KEY
	(
	REFCONCEPTO
	) REFERENCES dbo.CONCEPTOSFRA
	(
	CODIGO
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LPRESUPUESTOS ADD CONSTRAINT
	fklpresupuestoconcepto FOREIGN KEY
	(
	REFCONCEPTO
	) REFERENCES dbo.CONCEPTOSFRA
	(
	CODIGO
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LINEASFACTURAS ADD CONSTRAINT
	fk_lineasfacturas FOREIGN KEY
	(
	REFCONCEPTO
	) REFERENCES dbo.CONCEPTOSFRA
	(
	CODIGO
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.d_PresupuestoLineas ADD CONSTRAINT
	FK_d_PresupuestoLineas_CONCEPTOSFRA FOREIGN KEY
	(
	IDTratamiento
	) REFERENCES dbo.CONCEPTOSFRA
	(
	CODIGO
	) ON UPDATE  CASCADE 
	 ON DELETE  NO ACTION 


GO
COMMIT
/* END Poner el update en cascada de distintas tablas hacia CONCEPTOFRA */



/*BEGIN Actualizaciones manuales de codigos en CONCEPTOFRA y tablas no relacionadas por cascade */

UPDATE CONCEPTOSFRA SET [CODIGO] = '100252'  WHERE CODIGO = '1002492243';
UPDATE LineasCitas SET RefConcepto = '100252'  WHERE RefConcepto = '1002492243';
UPDATE CONCEPTOSFACTURABLES SET REFCONCEPTO = '100252'  WHERE REFCONCEPTO = '1002492243';
UPDATE LINEASANALITICAS SET REFCONCEPTO = '100252'  WHERE REFCONCEPTO = '1002492243';
UPDATE LCOMPARATIVAS_TRATAMIENTOS SET REFCONCEPTOFRA = '100252'  WHERE REFCONCEPTOFRA = '1002492243';
UPDATE LPLANTILLAANALITICAS SET REFCONCEPTO = '100252'  WHERE REFCONCEPTO = '1002492243';

UPDATE CONCEPTOSFRA SET [CODIGO] = '100247'  WHERE CODIGO = '1002492235';
UPDATE LineasCitas SET RefConcepto = '100247'  WHERE RefConcepto = '1002492235';
UPDATE CONCEPTOSFACTURABLES SET REFCONCEPTO = '100247'  WHERE REFCONCEPTO = '1002492235';
UPDATE LINEASANALITICAS SET REFCONCEPTO = '100247'  WHERE REFCONCEPTO = '1002492235';
UPDATE LCOMPARATIVAS_TRATAMIENTOS SET REFCONCEPTOFRA = '100247'  WHERE REFCONCEPTOFRA = '1002492235';
UPDATE LPLANTILLAANALITICAS SET REFCONCEPTO = '100247'  WHERE REFCONCEPTO = '1002492235';

UPDATE CONCEPTOSFRA SET [CODIGO] = '100248'  WHERE CODIGO = '1002492221';
UPDATE LineasCitas SET RefConcepto = '100248'  WHERE RefConcepto = '1002492221';
UPDATE CONCEPTOSFACTURABLES SET REFCONCEPTO = '100248'  WHERE REFCONCEPTO = '1002492221';
UPDATE LINEASANALITICAS SET REFCONCEPTO = '100248'  WHERE REFCONCEPTO = '1002492221';
UPDATE LCOMPARATIVAS_TRATAMIENTOS SET REFCONCEPTOFRA = '100248'  WHERE REFCONCEPTOFRA = '1002492221';
UPDATE LPLANTILLAANALITICAS SET REFCONCEPTO = '100248'  WHERE REFCONCEPTO = '1002492221';


UPDATE CONCEPTOSFRA SET [CODIGO] = '100249'  WHERE CODIGO = '1002492239';
UPDATE LineasCitas SET RefConcepto = '100249'  WHERE RefConcepto = '1002492239';
UPDATE CONCEPTOSFACTURABLES SET REFCONCEPTO = '100249'  WHERE REFCONCEPTO = '1002492239';
UPDATE LINEASANALITICAS SET REFCONCEPTO = '100249'  WHERE REFCONCEPTO = '1002492239';
UPDATE LCOMPARATIVAS_TRATAMIENTOS SET REFCONCEPTOFRA = '100249'  WHERE REFCONCEPTOFRA = '1002492239';
UPDATE LPLANTILLAANALITICAS SET REFCONCEPTO = '100249'  WHERE REFCONCEPTO = '1002492239';

UPDATE CONCEPTOSFRA SET [CODIGO] = '100250'  WHERE CODIGO = '1002492237';
UPDATE LineasCitas SET RefConcepto = '100250'  WHERE RefConcepto = '1002492237';
UPDATE CONCEPTOSFACTURABLES SET REFCONCEPTO = '100250'  WHERE REFCONCEPTO = '1002492237';
UPDATE LINEASANALITICAS SET REFCONCEPTO = '100250'  WHERE REFCONCEPTO = '1002492237';
UPDATE LCOMPARATIVAS_TRATAMIENTOS SET REFCONCEPTOFRA = '100250'  WHERE REFCONCEPTOFRA = '1002492237';
UPDATE LPLANTILLAANALITICAS SET REFCONCEPTO = '100250'  WHERE REFCONCEPTO = '1002492237';

UPDATE CONCEPTOSFRA SET [CODIGO] = '100251'  WHERE CODIGO = '1002491';
UPDATE LineasCitas SET RefConcepto = '100251'  WHERE RefConcepto = '1002491';
UPDATE CONCEPTOSFACTURABLES SET REFCONCEPTO = '100251'  WHERE REFCONCEPTO = '1002491';
UPDATE LINEASANALITICAS SET REFCONCEPTO = '100251'  WHERE REFCONCEPTO = '1002491';
UPDATE LCOMPARATIVAS_TRATAMIENTOS SET REFCONCEPTOFRA = '100251'  WHERE REFCONCEPTOFRA = '1002491';
UPDATE LPLANTILLAANALITICAS SET REFCONCEPTO = '100251'  WHERE REFCONCEPTO = '1002491';

UPDATE CONCEPTOSFRA SET [CODIGO] = '100253'  WHERE CODIGO = '1002492223';
UPDATE LineasCitas SET RefConcepto = '100253'  WHERE RefConcepto = '1002492223';
UPDATE CONCEPTOSFACTURABLES SET REFCONCEPTO = '100253'  WHERE REFCONCEPTO = '1002492223';
UPDATE LINEASANALITICAS SET REFCONCEPTO = '100253'  WHERE REFCONCEPTO = '1002492223';
UPDATE LCOMPARATIVAS_TRATAMIENTOS SET REFCONCEPTOFRA = '100253'  WHERE REFCONCEPTOFRA = '1002492223';
UPDATE LPLANTILLAANALITICAS SET REFCONCEPTO = '100253'  WHERE REFCONCEPTO = '1002492223';

UPDATE CONCEPTOSFRA SET [CODIGO] = '100254'  WHERE CODIGO = '1002492225';
UPDATE LineasCitas SET RefConcepto = '100254'  WHERE RefConcepto = '1002492225';
UPDATE CONCEPTOSFACTURABLES SET REFCONCEPTO = '100254'  WHERE REFCONCEPTO = '1002492225';
UPDATE LINEASANALITICAS SET REFCONCEPTO = '100254'  WHERE REFCONCEPTO = '1002492225';
UPDATE LCOMPARATIVAS_TRATAMIENTOS SET REFCONCEPTOFRA = '100254'  WHERE REFCONCEPTOFRA = '1002492225';
UPDATE LPLANTILLAANALITICAS SET REFCONCEPTO = '100254'  WHERE REFCONCEPTO = '1002492225';


/*END Actualizaciones manuales de codigos en CONCEPTOFRA y tablas no relacionadas por cascade */

Update VariablesGlobales Set Valor = '1.0.1.9' where Clave = 'DB_Version';