<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="UpdaterClient.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		
		<!-- Valores de la aplicacion a actualizar-->
		
		<!-- Nombre de la App, se usara para buscar en el Updates Server
			 Ademas debe coincidir con el nombre del ejecutable de la app sin la extension			 
			-->
		<add key="AppName" value="INCEME"/>

		<!-- Path relativo a la carpeta donde se encuentra el UpdaterClient.exe -->
		<!-- Por defecto esta asignado para que el UpdaterClient este en el mismo path que la App a actualizar -->
		<add key="AppPath" value=""/>

		<!-- Path relativo al AppPath donde se buscaran los script de la BD -->		
		<add key="AppScriptsFolder" value="Scripts" />

		<!-- Origen de Actualizaciones -->
		<!-- Tipo de actualizacion utilizada, puede ser 'Internet' o 'Local-->
		<add key="UpdateType" value="Local" />

		<!-- URL del servidor de actualizaciones, para UpdateType=Internet 
			 OJO, no es el url del webservice, sino del servidor, a esta url posteriormente se le annadira
			 Updates.asmx
		-->
		<add key="InternetUpdateServer" value="http://localhost:4516/UpdatesServer/" />

		<!-- Path de la carpeta de actualizaciones, para UpdateType=Local -->
		<add key="LocalUpdateFolder" value="D:\renier\INCEME\UpdatesServer\Updates\INCEME\Release\" />
		
		
	</appSettings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <UpdaterClient.My.MySettings>
            <setting name="UpdaterClient_UpdatesServer_Service" serializeAs="String">
                <value>http://servidor01.goltratec.com:8081/UpdateServer/Updates.asmx</value>
            </setting>
        </UpdaterClient.My.MySettings>
    </applicationSettings>
</configuration>
